/*Mettre la classe dans picture et l'image s'ajuste à son parent*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Source+Sans+3&display=swap');.image-hero {
    height: 100vh;
}


.image-hero > img {
    object-fit: cover;
    object-position: right;
}

.font-bruno {
    font-family: 'Bruno Ace SC', sans-serif;
}

.font-source {
    font-family: 'Source Sans', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.z-index-1 {
    z-index: 1;
}

.thick-line {
    border-top: 4px solid white;
}

.btn-yellow {
    background-color: #ec9d14;
    color: black;
}
.btn-yellow:hover {
    background-color: #ec9d1492;
    color: black;
}